body {
  background-color: #222222;
}

.square {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(to right, red, blue);
  transition: all 0.3s ease-in-out;
  transition-behavior: allow-discrete;
}

.square:hover {
  background-image: linear-gradient(to left, red, blue);
  transform: translateX(100px)
}