body {
  background-color: #222222;
}

.square {
  width: 200px;
  height: 200px;
  background-color: yellow;
  transition: all 0.5s ease-in-out allow-discrete;
}

.square:hover {
  transform: rotate(45deg);
  background-color: skyblue;
}
